/*****PIE DE PÁGINA*****/

footer {
    grid-area: pieDePagina;
    padding: 20px;

    li {
        list-style-type: none;
        text-align: right;

        a {
            color: $colorFont;
        }
    }
}

/*************** VERSIÒN MOBILE (MEDIA QUERI)***************/

@media screen and (max-width: 480px) {

      /*****PIE DE PAGINA VERSIÓN MOBILE*****/

      footer {
        padding: 0px;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            color: $colorFont;
            padding-right: 30px;

            a {
                color: $principalColorFont;
            }
        }
    }
}