/**********INDEX**********/

.grillaIndex {
    margin: 0px;
    background-image: linear-gradient(to top, $backgroundColorUno, $backgroundColorDos);
    display: grid;
    grid-template-areas:
        "cabecera cabecera"
        "barraNav barraNav"
        "principal principal"
        "principal principal"
        "principal principal"
        "pieDePagina pieDePagina";
    grid-template-rows: 1.5fr 0.5fr 100px 100px 100px 1.5fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    .mainIndex {
        grid-area: principal;
        display: flex;
        align-items: center;
        color: map-get($map: $colors, $key: colorFont);
        font-family: Alien-Encounters-Bold;
        border-bottom: 02px solid;
        border-top: 02px solid;

        h1 {
            display: flex;
            width: 550px;
            font-size: map-get($map: $sizes, $key: tituloPresentacion);
            padding-left: 20px;
        }
    }
}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/

@media screen and (max-width: 480px) {

    /**********GRID MOBILE INDEX**********/

    .grillaIndex {
        margin: 0px;
        background-image: linear-gradient(to top, $backgroundColorUno, $backgroundColorDos);
        grid-template-areas:
            "cabecera"
            "barraNav"
            "principal"
            "principal"
            "pieDePagina";
        grid-template-rows: 150px 50px 200px 200px 100px;
        grid-template-columns: 1fr;
        height: 100vh;

        .mainIndex {
            display: flex;
            justify-content: center;
            text-align: center;
            color: map-get($map: $colors, $key: colorFont);
            font-family: Alien-Encounters-Bold;
            padding-top: 150px;
            padding-bottom: 150px;
            padding-right: 50px;

            h1 {
                width: 200px;
                font-size: 30px;
            }
        }
    }
}