/**********SERVICIOS**********/

.grillaServicios {
    margin: 0px;
    background-image: linear-gradient(to top, $backgroundColorUno, $backgroundColorDos);
    display: grid;
    grid-template-areas:
        "cabecera cabecera"
        "barraNav barraNav"
        "principalServ principalServ"
        "principalServ principalServ"
        "principalServ principalServ"
        "pieDePagina pieDePagina";
    grid-template-rows: 1.5fr 0.5fr 100px 100px 100px 1.5fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    .borderServ {
        grid-area: principalServ;
        display: flex;
        justify-content: center;
        color: map-get($map: $colors, $key: colorFont);
        font-family: Alien-Encounters-Bold;
        padding-top: 40px;
        border-bottom: 02px solid;
        border-top: 02px solid;

        li {
            display: flex;
            justify-content: center;
            font-size: map-get($map: $sizes, $key: textoContenido);
        }

        h3 {
            display: flex;
            justify-content: center;
            font-size: map-get($map: $sizes, $key: tituloSecundario);
        }
    }
}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/

@media screen and (max-width: 480px) {

    /**********GRID MOBILE SERVICIOS**********/

    .grillaServicios {
        margin: 0px;
        background-image: linear-gradient(to top, $backgroundColorUno, $backgroundColorDos);
        grid-template-areas:
            "cabecera"
            "barraNav"
            "principalServ"
            "principalServ"
            "pieDePagina";
        grid-template-rows: 150px 50px 200px 200px 100px;
        grid-template-columns: 1fr;
        height: 100vh;

        .borderServ {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: map-get($map: $colors, $key: colorFont);
            font-family: Alien-Encounters-Bold;
            padding-top: 155px;
            padding-bottom: 150px;
            padding-right: 50px;

            li {
                font-size: 20px;
            }

            h3 {
                font-size: 25px;
            }
        }
    }
}