/**********NOSOTROS**********/

.grillaNosotros {
    margin: 0px;
    background-image: linear-gradient(to top, $backgroundColorUno, $backgroundColorDos);
    display: grid;
    grid-template-areas:
        "cabecera cabecera"
        "barraNav barraNav"
        "principalNos principalNos"
        "principalNos principalNos"
        "principalNos principalNos"
        "pieDePagina pieDePagina";
    grid-template-rows: 1.5fr 0.5fr 100px 100px 100px 1.5fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    .borderNos {
        grid-area: principalNos;
        display: flex;
        justify-content: left;
        flex-direction: column;
        color: map-get($map: $colors, $key: colorFont);
        font-family: Alien-Encounters-Bold;
        border-bottom: 02px solid;
        border-top: 02px solid;

        h1 {
            font-size: map-get($map: $sizes, $key: tituloSecundario);
            text-align: center;
        }

        p {
            text-align: center;
            font-size: map-get($map: $sizes, $key: textoContenido);
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/

@media screen and (max-width: 480px) {

    /**********GRID MOBILE NOSOTROS**********/

    .grillaNosotros {
        margin: 0px;
        background-image: linear-gradient(to top, $backgroundColorUno, $backgroundColorDos);
        grid-template-areas:
            "cabecera"
            "barraNav"
            "principalNos"
            "principalNos"
            "pieDePagina";
        grid-template-rows: 150px 50px 200px 200px 100px;
        grid-template-columns: 1fr;
        height: 100vh;

        .borderNos {
            grid-area: principalNos;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: map-get($map: $colors, $key: colorFont);
            font-family: Alien-Encounters-Bold;
            padding-left: 40px;

            h1 {
                font-size: 25px;
                text-align: center;
            }

            p {
                text-align: center;
                font-size: 15px;
                padding-bottom: 20px;
            }
        }
    }
}