/**********CONTACTO**********/

.grillaContacto {
    @extend %grillaEstructura;
    grid-template-areas:
        "cabecera cabecera"
        "barraNav barraNav"
        "principalContac principalContac"
        "principalContac principalContac"
        "principalContac principalContac"
        "pieDePagina pieDePagina";
    grid-template-rows: 1.5fr 0.5fr 100px 100px 100px 1.5fr;

    .borderContac {
        grid-area: principalContac;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        color: map-get($map: $colors, $key: colorFont);
        font-family: Alien-Encounters-Bold;
        padding-top: 15px;
        padding-right: 20px;
        border-bottom: 02px solid;
        border-top: 02px solid;

        h2 {
            padding-bottom: 230px;
            font-size: map-get($map: $sizes, $key: tituloTerciario);
        }
    }

}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/

@media screen and (max-width: 480px) {

    /**********GRID MOBILE CONTACTO**********/

    .grillaContacto {
        margin: 0px;
        background-image: linear-gradient(to top, $backgroundColorUno, $backgroundColorDos);
        grid-template-areas:
            "cabecera"
            "barraNav"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "pieDePagina";
        grid-template-rows: repeat(15, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;

        .borderContac {
            grid-area: principalContac;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            color: map-get($map: $colors, $key: colorFont);
            font-family: Alien-Encounters-Bold;
            padding-left: 10px;

            h2 {
                font-size: 30px;
                padding-bottom: 0px;
            }
        }
    }
}