/**********CONTACTO**********/

.grillaContacto {
    margin: 0px;
    background-image: linear-gradient(to top, $backgroundColorUno, $backgroundColorDos);
    display: grid;
    grid-template-areas:
        "cabecera cabecera"
        "barraNav barraNav"
        "principalContac principalContac"
        "principalContac principalContac"
        "principalContac principalContac"
        "pieDePagina pieDePagina";
    grid-template-rows: 1.5fr 0.5fr 100px 100px 100px 1.5fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    .borderContac {
        grid-area: principalContac;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        color: $principalColorFont;
        font-family: Alien-Encounters-Bold;
        padding-top: 15px;
        padding-right: 20px;
        border-bottom: 02px solid;
        border-top: 02px solid;

        h2 {
            padding-bottom: 230px;
            font-size: 30px;
        }
    }

}