@import "./partials/header";

@import "./partials/nav";

@import "./partials/footer";

@import "./partials/mainIndex";
@import "./partials/mainServicios";
@import "./partials/mainUbicacion";
@import "./partials/mainNosotros";
@import "./partials/mainContacto";

@import "./partials/fuentes";


/*************** VERSIÒN MOBILE (MEDIA QUERI)***************/

@media screen and (max-width: 480px) {

    /**********GRID MOBILE INDEX**********/

    .grillaIndex {
        margin: 0px;
        background-image: linear-gradient(to top, #030321, #0b3384);
        grid-template-areas:
            "cabecera"
            "barraNav"
            "principal"
            "principal"
            "pieDePagina";
        grid-template-rows: 150px 50px 200px 200px 100px;
        grid-template-columns: 1fr;
        height: 100vh;

        .mainIndex {
            display: flex;
            justify-content: center;
            text-align: center;
            color: white;
            font-family: Alien-Encounters-Bold;
            padding-top: 150px;
            padding-bottom: 150px;
            padding-right: 50px;
    
            h1 {
                width: 200px;
                font-size: 30px;
            }
        }
    }

    /**********GRID MOBILE SERVICIOS**********/

    .grillaServicios {
        margin: 0px;
        background-image: linear-gradient(to top, #030321, #0b3384);
        grid-template-areas:
            "cabecera"
            "barraNav"
            "principalServ"
            "principalServ"
            "pieDePagina";
        grid-template-rows: 150px 50px 200px 200px 100px;
        grid-template-columns: 1fr;
        height: 100vh;

        .borderServ {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            font-family: Alien-Encounters-Bold;
            padding-top: 155px;
            padding-bottom: 150px;
            padding-right: 50px;
    
            li {
                font-size: 20px;
            }
    
            h3 {
                font-size: 25px;
            }
        }
    }

    /**********GRID MOBILE UBICACIÓN**********/

    .grillaUbicacion {
        margin: 0px;
        background-image: linear-gradient(to top, #030321, #0b3384);
        grid-template-areas:
            "cabecera"
            "barraNav"
            "principalUbic"
            "principalMapa"
            "pieDePagina";
        grid-template-rows: 150px 50px 200px 500px 100px;
        grid-template-columns: 1fr;
        height: 100vh;

        .borderUbic {
            grid-area: principalUbic;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 50px;
            color: white;
            font-family: Alien-Encounters-Bold;
            border-bottom: none;
            padding-top: 100px;
    
            h1 {
                font-size: 30px;
                text-align: center;
            }
        }
    
        .borderMapa {
            grid-area: principalMapa;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-left: 30px;
            border-top: none;
            padding-top: 50px;
        }
    }

    /**********GRID MOBILE NOSOTROS**********/

    .grillaNosotros {
        margin: 0px;
        background-image: linear-gradient(to top, #030321, #0b3384);
        grid-template-areas:
            "cabecera"
            "barraNav"
            "principalNos"
            "principalNos"
            "pieDePagina";
        grid-template-rows: 150px 50px 200px 200px 100px;
        grid-template-columns: 1fr;
        height: 100vh;

        .borderNos {
            grid-area: principalNos;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            font-family: Alien-Encounters-Bold;
            padding-left: 40px;
    
            h1 {
                font-size: 25px;
                text-align: center;
            }
    
            p {
                text-align: center;
                font-size: 15px;
                padding-bottom: 20px;
            }
        }
    }

    /**********GRID MOBILE CONTACTO**********/

    .grillaContacto {
        margin: 0px;
        background-image: linear-gradient(to top, #030321, #0b3384);
        grid-template-areas:
            "cabecera"
            "barraNav"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "principalContac"
            "pieDePagina";
        grid-template-rows: repeat(15, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;

        .borderContac {
            grid-area: principalContac;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            color: white;
            font-family: Alien-Encounters-Bold;
            padding-left: 10px;
    
            h2 {
                font-size: 30px;
                padding-bottom: 0px;
            }
        }
    }

    /*****CABECERA VERSIÒN MOBILE*****/

    header {
        display: flex;
        justify-content: center;
    }

    .logoRodval {
        padding-top: 10px;
    }


    /*****NAVEGACIÓN VERSIÒN MOBILE*****/

    .navegacion {
        grid-area: barraNav;

        ul {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;

            a {
                color: #ffffff;
                font-family: Alien-Encounters-Bold;
                text-decoration: none;
                padding: 10px;
                cursor: pointer;
                transition: color 1s, background-color 1s;
                border-style: hidden;
                border-radius: 5px;

                &:hover {
                    color: #030321;
                    background-color: white;
                }
            }
        }
    }

    /*****PIE DE PAGINA VERSIÓN MOBILE*****/

    footer {
        padding: 0px;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            color: white;
            padding-right: 30px;

            a {
                color: #ffffff;
            }
        }
    }
}