/********BODY********/

.backgroundColor {
  background-image: linear-gradient(to top, #030321, #0b3384);
}


/**********HEADER**********/

.nav{
  font-family: Alien-Encounters-Bold;
  color: #ffffff;
  padding: 20px;
  cursor: pointer;
  transition: color 1s;
}

.nav :hover{
color: grey;

}

.logoRodval{
  padding-top: 10px;
}


/**********FOOTER**********/

.pieDePagina {
  font-family: Alien-Encounters-Bold;
  padding: 20px;
}

.pieDePagina ul li{
  list-style-type: none;
  text-align: right;
}

.pieDePagina ul li a{
  color: #ffffff;
}


/**********MAIN**********/


/*****INDEX*****/

.articleIndex{
    display: flex;
    margin: 0px;
    align-items: center;
    border-top: 02px solid;
    border-bottom: 02px solid;
    color: white;
    font-family: Alien-Encounters-Bold;
    font-size: 50px;
    padding-left: 20px;
    height: 350px;
  }

.presentacion{
  width: 500px;
}


/*****SERVICIOS*****/

.articleServicios{
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: center;
  border-top: 02px solid;
  border-bottom: 02px solid;
  color: white;
  font-family: Alien-Encounters-Bold;
  height: 350px;
}

.articleServicios ul li{
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}

.presupuesto{
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}


/*****UBICACIÓN*****/

.articleUbicacion {
  margin: 0px;
  display: flex;
  align-items: center;
  border-top: 02px solid;
  border-bottom: 02px solid;
  color: white;
  font-family: Alien-Encounters-Bold;
  padding-left: 20px;
  height: 350px;

}

.articleUbicacion h1{
  font-size: 40px;
}

.mapa{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}


/*****NOSOTROS*****/

.articleNosotros{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0px;
  background-image: linear-gradient(to top, #030321, #0b3384);
  height: 350px;
  border-top: 02px solid;
  border-bottom: 02px solid;
  color: white;
  font-family: Alien-Encounters-Bold;
}

.articleNosotros h1{
  font-size: 35px;
  text-align: center;
}

.articleNosotros p{
  text-align: center;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


/*FUENTES*/

@font-face {
    font-family: Alien-Encounters-Bold;
    src: url(../fonts/Alien-Encounters-Bold.ttf);
}


/*****PRINCIPAL NOSOTROS*****/

.borderNos {
  grid-area: principalNos;
  display: flex;
  justify-content: left;
  flex-direction: column;
  color: white;
  font-family: Alien-Encounters-Bold;
}


/*****PRINCIPAL CONTACTO*****/

.borderContac {
  grid-area: principalContac;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: white;
  font-family: Alien-Encounters-Bold;
  padding-top: 15px;
  padding-right: 20px;
}

.borderContac h2{
  padding-bottom: 230px;
  font-size: 30px;
}



