@charset "UTF-8";
/*****MAPS*****/
/**COLORES**/
/**TAMAÑOS FUENTES WEB**/
/**TRANSICIONES**/
/**********COLORS*********/
.grillaContacto, .grillaNosotros, .grillaUbicacion, .grillaServicios, .grillaIndex {
  margin: 0px;
  background-image: linear-gradient(to top, #030321, #0b3384);
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

/**********HEADER**********/
header {
  grid-area: cabecera;
  display: flex;
  padding: 20px;
}

.logoRodval {
  padding-top: 10px;
}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/
@media screen and (max-width: 480px) {
  /*****CABECERA VERSIÒN MOBILE*****/
  header {
    display: flex;
    justify-content: center;
  }
  .logoRodval {
    padding-top: 10px;
  }
}
/**********NAVEGACIÓN**********/
.navegacion {
  grid-area: barraNav;
}
.navegacion ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style-type: none;
  padding-right: 20px;
}
.navegacion ul a {
  color: #ffffff;
  font-family: Alien-Encounters-Bold;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  transition: color 1s, background-color 1s;
  border-style: hidden;
  border-radius: 5px;
}
.navegacion ul a:hover {
  color: #030321;
  background-color: #ffffff;
}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/
@media screen and (max-width: 480px) {
  /*****NAVEGACIÓN VERSIÒN MOBILE*****/
  .navegacion {
    grid-area: barraNav;
  }
  .navegacion ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }
  .navegacion ul a {
    color: #ffffff;
    font-family: Alien-Encounters-Bold;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    transition: color 1s, background-color 1s;
    border-style: hidden;
    border-radius: 5px;
  }
  .navegacion ul a:hover {
    color: #030321;
    background-color: #ffffff;
  }
}
/**********FOOTER**********/
footer {
  grid-area: pieDePagina;
  padding: 20px;
}
footer li {
  display: flex;
  justify-content: right;
  flex-direction: column-reverse;
  list-style-type: none;
  text-align: right;
}
footer li a {
  color: #ffffff;
}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/
@media screen and (max-width: 480px) {
  /*****PIE DE PAGINA VERSIÓN MOBILE*****/
  footer {
    padding: 0px;
  }
  footer li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    color: #ffffff;
    padding-right: 30px;
  }
  footer li a {
    color: #ffffff;
  }
}
/**********INDEX**********/
.grillaIndex {
  grid-template-areas: "cabecera cabecera" "barraNav barraNav" "principal principal" "principal principal" "principal principal" "pieDePagina pieDePagina";
  grid-template-rows: 1.5fr 0.5fr 100px 100px 100px 1.5fr;
}
.grillaIndex .mainIndex {
  display: flex;
  grid-area: principal;
  font-family: Alien-Encounters-Bold;
  align-items: center;
  justify-content: none;
  flex-direction: none;
  color: #ffffff;
  border-bottom: 2px solid;
  border-top: 2px solid;
  padding-top: 0px;
}
.grillaIndex .mainIndex h1 {
  display: flex;
  width: 550px;
  font-size: 50px;
  padding-left: 20px;
}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/
@media screen and (max-width: 480px) {
  /**********GRID MOBILE INDEX**********/
  .grillaIndex {
    margin: 0px;
    background-image: linear-gradient(to top, #030321, #0b3384);
    grid-template-areas: "cabecera" "barraNav" "principal" "principal" "pieDePagina";
    grid-template-rows: 150px 50px 200px 200px 100px;
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .grillaIndex .mainIndex {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-family: Alien-Encounters-Bold;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 50px;
  }
  .grillaIndex .mainIndex h1 {
    width: 200px;
    font-size: 30px;
  }
}
/**********SERVICIOS**********/
.grillaServicios {
  grid-template-areas: "cabecera cabecera" "barraNav barraNav" "principalServ principalServ" "principalServ principalServ" "principalServ principalServ" "pieDePagina pieDePagina";
  grid-template-rows: 1.5fr 0.5fr 100px 100px 100px 1.5fr;
}
.grillaServicios .mainServ {
  display: flex;
  grid-area: principalServ;
  font-family: Alien-Encounters-Bold;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  color: #ffffff;
  border-bottom: 2px solid;
  border-top: 2px solid;
  padding-top: 40px;
}
.grillaServicios .mainServ li {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.grillaServicios .mainServ h3 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/
@media screen and (max-width: 480px) {
  /**********GRID MOBILE SERVICIOS**********/
  .grillaServicios {
    margin: 0px;
    background-image: linear-gradient(to top, #030321, #0b3384);
    grid-template-areas: "cabecera" "barraNav" "principalServ" "principalServ" "pieDePagina";
    grid-template-rows: 150px 50px 200px 200px 100px;
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .grillaServicios .mainServ {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: Alien-Encounters-Bold;
    padding-top: 155px;
    padding-bottom: 150px;
    padding-right: 50px;
  }
  .grillaServicios .mainServ li {
    font-size: 20px;
  }
  .grillaServicios .mainServ h3 {
    font-size: 25px;
  }
}
/**********UBICACIÓN**********/
.grillaUbicacion {
  grid-template-areas: "cabecera cabecera" "barraNav barraNav" "principalUbic principalMapa" "principalUbic principalMapa" "principalUbic principalMapa" "pieDePagina pieDePagina";
  grid-template-rows: 1.5fr 0.5fr 100px 100px 100px 1.5fr;
}
.grillaUbicacion .mainUbic {
  display: flex;
  grid-area: principalUbic;
  font-family: Alien-Encounters-Bold;
  align-items: none;
  justify-content: left;
  flex-direction: column;
  color: #ffffff;
  border-bottom: 2px solid;
  border-top: 2px solid;
  padding-top: 0px;
}
.grillaUbicacion .mainUbic h1 {
  font-size: 40px;
  padding-left: 55px;
}
.grillaUbicacion .mainUbic p {
  padding-left: 55px;
  font-size: 20px;
}
.grillaUbicacion .mapa {
  display: flex;
  grid-area: principalMapa;
  font-family: Alien-Encounters-Bold;
  align-items: center;
  justify-content: flex-end;
  flex-direction: none;
  color: #ffffff;
  border-bottom: 2px solid;
  border-top: 2px solid;
  padding-top: 0px;
  padding-right: 30px;
}

/*************** VERSIÒN MOBILE (MEDIA QUERI)***************/
@media screen and (max-width: 480px) {
  /**********GRID MOBILE UBICACIÓN**********/
  .grillaUbicacion {
    margin: 0px;
    background-image: linear-gradient(to top, #030321, #0b3384);
    grid-template-areas: "cabecera" "barraNav" "principalUbic" "principalMapa" "pieDePagina";
    grid-template-rows: 150px 50px 200px 500px 100px;
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .grillaUbicacion .mainUbic {
    grid-area: principalUbic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    color: #ffffff;
    font-family: Alien-Encounters-Bold;
    border-bottom: none;
    padding-top: 100px;
  }
  .grillaUbicacion .mainUbic h1 {
    font-size: 30px;
    text-align: center;
  }
  .grillaUbicacion .mapa {
    grid-area: principalMapa;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    border-top: none;
    padding-top: 50px;
  }
}
/**********NOSOTROS**********/
.grillaNosotros {
  grid-template-areas: "cabecera cabecera" "barraNav barraNav" "principalNos principalNos" "principalNos principalNos" "principalNos principalNos" "pieDePagina pieDePagina";
  grid-template-rows: 1.5fr 0.5fr 100px 100px 100px 1.5fr;
}
.grillaNosotros .mainNos {
  display: flex;
  grid-area: principalNos;
  font-family: Alien-Encounters-Bold;
  align-items: none;
  justify-content: left;
  flex-direction: column;
  color: #ffffff;
  border-bottom: 2px solid;
  border-top: 2px solid;
  padding-top: 0px;
}
.grillaNosotros .mainNos h1 {
  font-size: 40px;
  text-align: center;
}
.grillaNosotros .mainNos p {
  text-align: center;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/
@media screen and (max-width: 480px) {
  /**********GRID MOBILE NOSOTROS**********/
  .grillaNosotros {
    margin: 0px;
    background-image: linear-gradient(to top, #030321, #0b3384);
    grid-template-areas: "cabecera" "barraNav" "principalNos" "principalNos" "pieDePagina";
    grid-template-rows: 150px 50px 200px 200px 100px;
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .grillaNosotros .mainNos {
    grid-area: principalNos;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-family: Alien-Encounters-Bold;
    padding-left: 40px;
  }
  .grillaNosotros .mainNos h1 {
    font-size: 25px;
    text-align: center;
  }
  .grillaNosotros .mainNos p {
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
  }
}
/**********CONTACTO**********/
.grillaContacto {
  grid-template-areas: "cabecera cabecera" "barraNav barraNav" "principalContac principalContac" "principalContac principalContac" "principalContac principalContac" "pieDePagina pieDePagina";
  grid-template-rows: 1.5fr 0.5fr 100px 100px 100px 1.5fr;
}
.grillaContacto .mainContac {
  display: flex;
  grid-area: principalContac;
  font-family: Alien-Encounters-Bold;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: none;
  color: #ffffff;
  border-bottom: 2px solid;
  border-top: 2px solid;
  padding-top: 15px;
  padding-right: 20px;
}
.grillaContacto .mainContac h2 {
  padding-bottom: 230px;
  font-size: 30px;
}

/***************VERSIÒN MOBILE (MEDIA QUERI)***************/
@media screen and (max-width: 480px) {
  /**********GRID MOBILE CONTACTO**********/
  .grillaContacto {
    margin: 0px;
    background-image: linear-gradient(to top, #030321, #0b3384);
    grid-template-areas: "cabecera" "barraNav" "principalContac" "principalContac" "principalContac" "principalContac" "principalContac" "principalContac" "principalContac" "principalContac" "principalContac" "principalContac" "principalContac" "principalContac" "pieDePagina";
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .grillaContacto .mainContac {
    grid-area: principalContac;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-family: Alien-Encounters-Bold;
    padding-left: 10px;
  }
  .grillaContacto .mainContac h2 {
    font-size: 30px;
    padding-bottom: 0px;
  }
}
/**********FUENTES**********/
@font-face {
  font-family: Alien-Encounters-Bold;
  src: url(../fonts/Alien-Encounters-Bold.ttf);
}/*# sourceMappingURL=styles.css.map */